---
layout: default
title: Institute Faculty
permalink: /faculty/
--- 

The Institute for Digital Archaeology Method and Practice brings together a variety of highly respected and skilled faculty members from both inside and outside of the archaeological community.  Faculty will teach, lead workshops, lead discussion sessions, and mentor institute attendees as they design, develop, and deploy their capstone digital archaeological project over the course of the institute.

<h2 class="text-uppercase my-2 text-center">All Faculty Members</h2>

{% include faculty/faculty.html %}

<h2 class="text-uppercase my-2 text-center">Institute Directors</h2>

{% include faculty/directors.html %}
