        <div class="card mb-4 p-4" role="region" aria-labelledby="faculty-{{ forloop.index }}-name">
            <div class="row justify-content-center">
                <div class="col-12 text-center mb-3">
                    {% if author_data.image and author_data.image != "" %}
                    {% picture profile {{ author_data.image }} jpt-webp: {{ author_data.image }} 1:1 center class="rounded-circle object-fit-cover" style="width: 150px; height: 150px;" --alt "Portrait of {{ faculty.title }}" %}
                    {% endif %}
                </div>
                <div class="col-12 text-start">
                    <a href="{{ site.baseurl }}/author/{{ author_slug }}"><h3 class="card-title" id="faculty-{{ forloop.index }}-name">{{ author_data.name }}</h3></a>
                    {% if author_data.website %}
                    <a href="{{ author_data.website }}" class="card-link" aria-label="Website of {{ author_data.name }}">{{ author_data.website }}</a>
                    {% endif %}
                    {% if author_data.bio %}
                    {{ author_data.bio |markdownify }}
                    {% endif %}
                </div>
            </div>
        </div>