<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand d-none d-md-block" href="{{site.baseurl}}/">
            <img src="{{site.baseurl}}/images/logos/InstituteDigitalArch-Logo-34.png" alt="{{site.title}} logo" height="19" class="d-inline-block align-text-top px-2">
        </a>
        
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{site.baseurl}}/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{site.baseurl}}/about/">About</a>
                </li>
              
                <li class="nav-item">
                    <a class="nav-link" href="{{site.baseurl}}/faculty">Faculty & Directors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{site.baseurl}}/schedule">Schedule & Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{site.baseurl}}/logistics">Logistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{site.baseurl}}/news">Updates</a>
                </li>
            </ul>
        </div>
    </nav>
</div>