{% leaflet_map {"zoom" : 15, "center" : [42.73, -84.49], "providerBasemap": "OpenStreetMap.HOT"} %}

    {% leaflet_geojson 
    {
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {
        "Name": "Old Horticulture",
        "Description": "<img src=\"https://lh4.googleusercontent.com/proxy/5NXyvbKkAhn0gpl2EYZ2PJhX4YG2p3hAPPLCcW7l3mbL293iGalu7yo4DfilPnXTyhmKvpVkE9Iy_5Kf-E4sNVwsskk33K2jSUXXDZ3Sm7Qd\" height=\"200\" width=\"auto\" /><br><br>112 Old Horticulture - location of LEADR (leadr.msu.edu).  This is where the majority of the institute will take place. ",
        "popupContent": "Old Horticulture"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4781846,
          42.7322928,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Natural Sciences Building",
        "Description": "<img src=\"https://lh5.googleusercontent.com/proxy/-IvSuJoNU5rU-Ub3Tc6Vs9B_CN66mAkuRd9W0JeiqP2dfRAuF7vCyF8lX4qnds7HR1yuUH3_O2FXiwnZnFKL2nfJLqsEzGb0rYBgM-9lav8zrYnOiLi1aUSYlQCmGRc\" height=\"200\" width=\"auto\" /><br><br>Location of MATRIX: The Center for Digital Humanities & Social Sciences (4th floor, east wing).  MATRIX will serve as a secondary (overflow) venue for the institute's activities as needed.  ",
        "popupContent": "Natural Sciences Building"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4762963,
          42.7313392,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Owen Hall",
        "Description": "<img src=\"https://lh5.googleusercontent.com/proxy/6S2pOyYjl6UqF9x1qZeJG60IO0VLdIrhKP_UTxNe50sOwNvW3klCCcILJsI7xmkIt_p57sBI19HS5Q0tUM-v5k6R3AgZ7md27w2azw\" height=\"200\" width=\"auto\" /><br><br>Owen hall is the MSU dormitory where the institute's funded attendees will be housed. ",
        "popupContent": "Owen Hall"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.47061,
          42.726315,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Shaw Hall",
        "Description": "<img src=\"https://lh4.googleusercontent.com/proxy/XAudiJZcHV81qcpi-AgJPEggGySikIPEp7JlHfIv8_HzjS1-WehVzuzLHOE5QW32OKX3f86BAXve6cz5GJsxopX53NHRi4k\" height=\"200\" width=\"auto\" /><br><br>During the institute, all meals will be provided for attendees at Shaw Hall (The Vista). While attendees are welcome to eat anywhere else (there are lots of options in downtown East Lansing), the institute will not cover the cost of these meals. Dietary information for MSU Culinary Services can be found at http://eatatstate.com/nutrition.",
        "popupContent": "Shaw Hall"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4753307,
          42.7267722,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Visitor Parking",
        "Description": "",
        "popupContent": "Visitor Parking"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4802713,
          42.7335695,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Visitor Parking",
        "Description": "",
        "popupContent": "Visitor Parking"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4747567,
          42.7256254,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Visitor Parking",
        "Description": "",
        "popupContent": "Visitor Parking"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4697142,
          42.7243013,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Visitor Parking",
        "Description": "",
        "popupContent": "Visitor Parking"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4863653,
          42.7299916,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Visitor Parking",
        "Description": "",
        "popupContent": "Visitor Parking"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4849384,
          42.7265475,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Kellogg Hotel & Conference Center",
        "Description": "",
        "popupContent": "Kellogg Hotel & Conference Center"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.49321,
          42.731631,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "State Room Restaurant",
        "Description": "",
        "popupContent": "State Room Restaurant"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.493446,
          42.731767,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Jimmy John's ",
        "Description": "Sub sandwiches, will delivery anywhere on campus",
        "popupContent": "Jimmy John's "
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4753468,
          42.7334198,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Pizza House",
        "Description": "Chicago pizza, subs and salads, full bar as well",
        "popupContent": "Pizza House"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4598866,
          42.7206598,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Sansu Sushi",
        "Description": "Sushi and hibachi, full bar, great early dinner specials",
        "popupContent": "Sansu Sushi"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4612169,
          42.7195563,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Strange Matter Coffee",
        "Description": "Independent coffee shop with pour overs, cold brew coffee, nitro coffee and excellent espresso",
        "popupContent": "Strange Matter Coffee"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.522236,
          42.733815,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "El Azteco",
        "Description": "Second floor patio, very affordable, good drinks",
        "popupContent": "El Azteco"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.48122,
          42.736046,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "El Oasis - Taco Truck",
        "Description": "",
        "popupContent": "El Oasis - Taco Truck"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.51611,
          42.73381,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Bank of America ATM",
        "Description": "",
        "popupContent": "Bank of America ATM"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.478029,
          42.733746,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Sultan's Mediterranean",
        "Description": "Great gyros and mixed grill plates, excellent hummus",
        "popupContent": "Sultan's Mediterranean"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4593823,
          42.7194145,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "MSU Federal Credit Union",
        "Description": "",
        "popupContent": "MSU Federal Credit Union"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.47752989999998,
          42.7338823,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Peanut Barrell",
        "Description": "Fantastic burgers and cheap beer, great outdoor patio space - known for their long islands and cheap pitchers ",
        "popupContent": "Peanut Barrell"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4776374,
          42.7338611,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Sushi Ya",
        "Description": "Great little sushi restaurant",
        "popupContent": "Sushi Ya"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4773424,
          42.7338216,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Espresso Royale",
        "Description": "Great coffee shop with lots of indoor and outdoor seating, free Wifi",
        "popupContent": "Espresso Royale"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4774818,
          42.7338059,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "HopCat",
        "Description": "Wonderful Michigan bar with over 100 taps, great burger and beer specials before 6pm",
        "popupContent": "HopCat"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.48184850000001,
          42.7359099,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "CVS Pharmacy",
        "Description": "Nice little CVS with any small items you may need for survival",
        "popupContent": "CVS Pharmacy"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4809258,
          42.7353386,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Pinball Pete's",
        "Description": "Classic arcade games, billiards and more!",
        "popupContent": "Pinball Pete's"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4814998,
          42.7354726,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Beggar's Banquet",
        "Description": "Half off bottles of wine on Wednesday, good food, lots of big tables for groups",
        "popupContent": "Beggar's Banquet"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4835812,
          42.7357445,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Student Bookstore",
        "Description": "Mainly MSU swag, but also has a bookstore and smaller items",
        "popupContent": "Student Bookstore"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.47926820000002,
          42.7341723,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Crunchy's",
        "Description": "A little sketchy, but cheap beer and great food specials",
        "popupContent": "Crunchy's"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4871163,
          42.7364694,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Starbucks",
        "Description": "",
        "popupContent": "Starbucks"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.47962,
          42.734273,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "MSU Bikes Service Center",
        "Description": "Daily and Weekly bike rentals available ",
        "popupContent": "MSU Bikes Service Center"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.478614,
          42.728054,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Rite Aid Pharmacy",
        "Description": "",
        "popupContent": "Rite Aid Pharmacy"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.462997,
          42.730367,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Grand Traverse Pie Co",
        "Description": "",
        "popupContent": "Grand Traverse Pie Co"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.462726,
          42.73029,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "American Fifth Spirits",
        "Description": "Locally made spirits - vodka, gin, white whiskey",
        "popupContent": "American Fifth Spirits"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.544293,
          42.7341,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Kroger Grocery Store",
        "Description": "Full grocery store",
        "popupContent": "Kroger Grocery Store"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.5075226,
          42.7385892,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Dunkin' Donuts",
        "Description": "Not the easiest to get to, get if you need your DD fix, it is the only one",
        "popupContent": "Dunkin' Donuts"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.5052481,
          42.741678,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "MSU Police and Parking",
        "Description": "",
        "popupContent": "MSU Police and Parking"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4831145,
          42.7214244,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "ATM",
        "Description": "",
        "popupContent": "ATM"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.47075490000002,
          42.7266421,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Starbucks",
        "Description": "No cafe or Wifi, but quick location to grab coffee",
        "popupContent": "Starbucks"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4725895,
          42.7271544,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "MSU Dairy Store",
        "Description": "Great ice cream and grilled cheese made from local ingredients",
        "popupContent": "MSU Dairy Store"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4784313,
          42.7243328,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "International Center",
        "Description": "Has food, coffee, shop with amenities, and seating areas with Wifi",
        "popupContent": "International Center"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4806254,
          42.7266736,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "MSU Union",
        "Description": "Various restaurants, small food shop, MSU store, and lots of great seating with Wifi and outlets.",
        "popupContent": "MSU Union"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4828463,
          42.7341605,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Biggby Coffee",
        "Description": "Great Michigan coffee shop",
        "popupContent": "Biggby Coffee"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4831467,
          42.734263,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "MSU Dairy Store",
        "Description": "Awesome ice cream and grilled cheese made with all local ingredients",
        "popupContent": "MSU Dairy Store"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4825727,
          42.7341408,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "McDonel Medical Center",
        "Description": "Open only on center days, but does provide some medical services",
        "popupContent": "McDonel Medical Center"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4683838,
          42.7266579,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Owen Hall Dining",
        "Description": "Serves all meals, can grab snacks and other food as well",
        "popupContent": "Owen Hall Dining"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4703794,
          42.7265002,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "ATM",
        "Description": "",
        "popupContent": "ATM"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.48280330000001,
          42.7338689,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Olin Health Center",
        "Description": "For pharmacy and health needs",
        "popupContent": "Olin Health Center"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4791985,
          42.7333567,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "MSU Organic Farm Stand",
        "Description": "Thursday 11-5:30, has great local MSU grown veggies and fruit",
        "popupContent": "MSU Organic Farm Stand"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4777286,
          42.7288173,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Library and Cafe",
        "Description": "Full library, printers, computers, and cafe",
        "popupContent": "Library and Cafe"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4835007,
          42.730827,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "ATM",
        "Description": "",
        "popupContent": "ATM"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4687057,
          42.7265318,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "MSU Computer Center",
        "Description": "Has computers, accessories and repair shop just in case!",
        "popupContent": "MSU Computer Center"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4804966,
          42.7291483,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "State Room Restaurant and Bar",
        "Description": "Fancy restaurant and bar with local Michigan and MSU offerings",
        "popupContent": "State Room Restaurant and Bar"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4934893,
          42.7319776,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Starbucks",
        "Description": "Coffee and good outdoor seating right near People's Park",
        "popupContent": "Starbucks"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4818002,
          42.7275327,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "ATM",
        "Description": "",
        "popupContent": "ATM"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4813764,
          42.7263387,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Sparty",
        "Description": "The official Spartan Mascot statue!",
        "popupContent": "Sparty"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4874597,
          42.7311422,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Beaumont Tower",
        "Description": "A classic MSU landmark, has carrilon bells that play music throughout the day",
        "popupContent": "Beaumont Tower"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.482224,
          42.7319776,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Broad Art Musum",
        "Description": "Modern art museum",
        "popupContent": "Broad Art Musum"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4768703,
          42.7327657,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Beal Gardens",
        "Description": "Great historic garden, nice to walk through",
        "popupContent": "Beal Gardens"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4845843,
          42.731221,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "The Rock",
        "Description": "Students regularly decorate this rock for certain events",
        "popupContent": "The Rock"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4775677,
          42.7279031,
          0
        ]
      }
    },
    {
      "type": "Feature",
      "properties": {
        "Name": "Saints' Rest",
        "Description": "Site of first dorm, excavations done here in 2005",
        "popupContent": "Saints' Rest"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -84.4811296,
          42.7312998,
          0
        ]
      }
    }
  ]
}    
        
    %}

{% endleaflet_map %}