<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand d-none d-md-block" href="{{site.baseurl}}/" aria-label="Go to homepage">
            <img src="{{site.baseurl}}/images/logos/InstituteDigitalArch-Logo-34.png" alt="{{site.title}} logo" height="19" class="d-inline-block align-text-top px-2 d-none d-md-inline">
        </a>
        
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{site.baseurl}}/" aria-label="Home page">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{site.baseurl}}/about/" aria-label="About the Institute">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{site.baseurl}}/faculty" aria-label="Faculty and Directors">Faculty & Directors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{site.baseurl}}/schedule/" aria-label="Schedule and Videos">Schedule & Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{site.baseurl}}/logistics" aria-label="Logistics information">Logistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{site.baseurl}}/news" aria-label="Updates and news">Updates</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
</div>
