{% if paginator.total_pages > 1 %}
        <nav aria-label="Page navigation" class="mt-5">
            <ul class="pagination justify-content-center">
                {% if paginator.previous_page %}
                    <li class="page-item">
                        <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                    </li>
                {% endif %}

                {% for pager in paginator.pagination %}
                    {% if pager.is_active %}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">{{ pager.num }} <span class="sr-only">(current)</span></span>
                        </li>
                    {% elsif pager.is_ellipsis %}
                        <li class="page-item disabled">
                            <span class="page-link">&hellip;</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{ pager.url | relative_url }}">{{ pager.num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if paginator.next_page %}
                    <li class="page-item">
                        <a class="page-link" href="{{ paginator.next_page_path | relative_url }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Next</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}