<section id="front-center" class="py-5 text-center">
  <div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5">
        <h2 class="fw-light mb-3" id="about-institute-heading">About the Institute</h2>
        <p aria-describedby="about-institute-heading"></p>
          Taking place on the campus of Michigan State University in 2015 (August 17-22) & 2016 (August 15-20), the institute will provide invited participants with hands-on training in key digital archaeological methods. The institute will also challenge invited attendees to envision, build, and launch a significant digital archaeological project by the end of the institute.
        </p>
      </div>
    </div>

    <div class="row g-5">

      <div class="col-md-4">
        <div class="d-flex flex-column align-items-center">
          <div class="bg-light text-dark rounded-circle d-flex justify-content-center align-items-center mb-3" style="width: 80px; height: 80px;" aria-hidden="true">
            <i class="fas fa-chart-line" style="font-size: 40px;"></i>
          </div>
          <h3 class="text-uppercase" id="learn-heading">Learn</h3>
          <p aria-describedby="learn-heading">
            The institute will include lectures, hands-on workshops, discussion groups, and collaborative development sessions covering key digital archaeology tools, topics, and methods – all led by a group of highly respected faculty from both inside and outside of the archaeological community.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="d-flex flex-column align-items-center">
          <div class="bg-light text-dark rounded-circle d-flex justify-content-center align-items-center mb-3" style="width: 80px; height: 80px;" aria-hidden="true">
            <i class="fas fa-users" style="font-size: 40px;"></i>
          </div>
          <h3 class="text-uppercase" id="collaborate-heading">Collaborate</h3>
          <p aria-describedby="collaborate-heading">
            Emphasis will be placed on the highly collaborative nature of digital archaeological method & practice. Attendees will work with each other on small-scale, rapid development projects throughout the institute. Attendees will also have the opportunity to collaborate with each other or external colleagues on their capstone project.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="d-flex flex-column align-items-center">
          <div class="bg-light text-dark rounded-circle d-flex justify-content-center align-items-center mb-3" style="width: 80px; height: 80px;" aria-hidden="true">
            <i class="fas fa-cogs" style="font-size: 40px; "></i>
          </div>
          <h3 class="text-uppercase" id="build-heading">Build</h3>
          <p aria-describedby="build-heading">
            While participants will attend lectures, participate in hands-on workshops, and collaborate on small scale rapid development projects, the organizational focus is on a significant digital archaeology capstone project which attendees will be challenged to envision, design, develop, and launch during the institute.
          </p>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12">
        <a href="{{site.baseurl}}/about/" class="btn btn-outline-light btn-lg text-uppercase" aria-label="Learn more about the Institute">Learn more</a>
      </div>
    </div>

  </div>
</div>
</section>

{% include frontpage/news.html %}
