<section class="text-white text-center d-flex align-items-center" id="top-banner">
  <div class="container-fluid">
    <div class="container my-auto ">
      <div class="row g-5 align-items-center">
        <div class="col-md-4">
          {% picture front-logo /images/logos/InstituteDigitalArch-Logo-35.png  class="my-4 img-fluid" --alt 'Institute Digital Arch Logo'  %}
        </div>
        <div class="col-md-8">
          <div class="p-4 p-md-5">
            <h3 class="display-6 fw-bold mb-3" style="line-height: 1.2;" id="institute-title">The Institute on Digital Archaeology Method &amp; Practice</h3>
            <p class="mb-4" id="institute-desc">
              Funded by the National Endowment for the Humanities and organized by Michigan State University's Department of Anthropology and MATRIX: The Center for Digital Humanities and Social Sciences, the Institute on Digital Archaeology Method &amp; Practice will bring together archaeologists and closely associated scholars interested in developing critical, hands-on skills in digital method and practice. Taking place on the campus of Michigan State University in 2015 (August 17-22) &amp; 2016 (August 15-20), the institute will provide invited participants with training in key digital methods and challenge them to envision, build, and deploy a digital archaeological project over the course of the institute.
            </p>
            <a href="{{ site.baseurl }}/about/" class="btn btn-outline-light btn-lg text-capitalize" aria-describedby="institute-title institute-desc">Learn more about MSUDAI</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>