<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    <link rel="icon" href="{{site.baseurl}}/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    {% include nav.html %}
    {{content}}
    {% include footer.html %}
<script type="module" src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
</body>
</html>